.background-profile {
  margin-top: 10px;
  height: 100px;
  background-image: url('../images/icon-above-font.png');
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: center;
}

.profil-user-title {
  margin-top: 20px;
}

.profil-user {
  margin-top: 50px;
}

.title-form {
  font-size: 26px;
}

.card-info-user {
  float: right;
  width: 250px;
}
