.comments {
  margin-top: 50px;
  margin-bottom: 30px;
}

.card-header {
  background: #212529;
  color: #F2F2F2;
}

.title-form {
  font-size: 22px
}

.border-list {
  border: none !important;
}

.form-comment {
  margin-top: 5%;
  width: 650px;
}

.marginTop-btn {
  margin-top: 10px;
}

.supp {
  margin-top: 10px;
}
