.title-forum-page {
  color: #212529 !important
}

.comments {
  margin-top: 50px;
  margin-bottom: 30px;
}

.post-image{
  width: 200px;
}

.card-header {
  background: #212529;
  color: #F2F2F2;
}

.title-form {
  font-size: 22px
}

.border-list {
  border: none !important;
}

.form-comment {
  margin-top: 5%;
  width: 650px;
}

.marginTop-btn {
  margin-top: 10px;
}

.card {
  border-radius: 20px;
}

.card-header {
  border-radius: 20px 20px 0 0;
}

.card-title {
  color: #000;
}

.supp {
  margin: 15px;
  float: right;
}
