<h2 class="text-center">Forum Groupomania</h2>

<div class="" *ngFor="let info of session">
  <div>
    <h3 class="title-form">Ajouter un commentaire</h3>
    <form class="form-comment" [formGroup]="postComment" (ngSubmit)="onSubmitPost()">
      <div class="input-group mb-3">
        <p class="list-group-item border-list">De : {{ info.firstName }} {{ info.lastName }}</p>
        <div class="input-group">
          <input type="hidden" value="{{ info.id }}" name="idUser" id="idUser">
        </div>
        <div class="input-group">
          <span class="input-group-text">Commentaire :</span>
          <textarea class="form-control" name="comment" aria-label="With textarea" formControlName="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-success marginTop-btn" id="sendComment"
          [disabled]="!postComment.valid">Envoyer</button>
      </div>
    </form>
  </div>

  <div class="comments" *ngFor="let comment of commentList | async ">
    <h3 class="text-center">Derniers commentaires</h3>
    <div class="card">
      <h5 class="card-header">Posté le : {{comment.date | date: 'd/M/yy, h:m a'}}</h5>
      <div class="card-body">
        <h5 class="card-title">De : {{comment.firstName}} {{comment.lastName}}</h5>
        <p class="card-text">{{comment.comment}}</p>
      </div>
    </div>
    <div class="" *ngIf="info.id == comment.idUser || info.admin === 1">
      <button type="submit" class="btn btn-danger supp" id="delete-post" value="{{ comment.id }}"
        (click)="deletePost(comment)">Supprimer</button>
  </div>
