<h1 class="text-center">Login</h1>
<div class="size-input-form">
  <form>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Mot de passe</label>
      <input type="email" class="form-control" id="password" placeholder="Mot de passe" formControlName="password">
    </div>
    <button type="button" class="btn btn-success">Success</button>
  </form>
</div>
