<div class="background-profile"></div>

<h1 class="text-center">Connexion</h1>
<div class="size-input-form content-center">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
      <div class="alert" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
        <div *ngIf="email?.errors?.['required']">
          Email is required.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Mot de passe</label>
      <input type="password" class="form-control" id="password" placeholder="Mot de passe" formControlName="password">
      <div class="alert" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
        <div *ngIf="password?.errors?.['required']">
          Email is required.
        </div>
      </div>
    </div>
    <button type="button" (click)="onLogin()" [disabled]="loginForm.invalid" class=" btn btn-success">Connexion</button>
    <br>
    <br>
    <button type="button" (click)="onDisconnect()" class=" btn btn-danger">Supprimer session</button>

  </form>
</div>
