<div class="profil-user">
  <div class="card-info-user">
    <div class="card text-light bg-dark mb-3">
      <div class=" card-header">Modification email</div>
      <div class="card-body">
        <form class="updateEmail" [formGroup]="updateEmailForm" (ngSubmit)="submitUpdateEmail()">
          <!-- Formcontrol password input-->
          <div class="mb-3 width-input">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" formControlName="email">
            <div class="alert" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
              <div *ngIf="email?.errors?.['required']">
                Entrez votre email actuel.
              </div>
            </div>
          </div>

          <!-- Formcontrol new password input-->
          <div class="mb-3 width-input">
            <label for="email" class="form-label">Nouveau email</label>
            <input type="email" class="form-control" name="newEmail" placeholder="Nouvelle adresse email"
              formControlName="newEmail">
            <div class="alert" *ngIf="newEmail?.invalid && (newEmail?.dirty || newEmail?.touched)">
              <div *ngIf="newEmail?.errors?.['required']">
                Choisissez une nouvelle adresse email.
              </div>
            </div>
          </div>
          <div class="mb-3 width-input">
            <label for="email" class="form-label">Confirmez email</label>
            <input type="email" class="form-control" name="confirmEmail" placeholder="Confirmez email"
              formControlName="confirmEmail">
            <div class="alert" *ngIf="confirmEmail?.invalid && (confirmEmail?.dirty || confirmEmail?.touched)">
              <div *ngIf="confirmEmail?.errors?.['required']">
                Confirmez votre email.
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="!updateEmailForm.valid"
            class="btn btn-success width-input">Modifier</button>
        </form>
      </div>
    </div>
  </div>
