
.navbar {
  position: relative;
  z-index: 200;
}

.button-navLink {
  background: none;
  border: none;
}

/* .navbar {
  background: #fd2d01 !important;
} */

.nav-link {
  color: #ffffff !important;
  font-weight: bold;
}

.nav-link:hover {
  color: #ffd7d7 !important;
  cursor: pointer;
}
