/* You can add global styles to this file, and also import other style files*/
h2 {
  text-shadow: 1px 1px 1px ;
}
h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  color: #FFFF;
}
a, p, input, button {
  font-family: "Roboto", sans-serif;
}

html,body {
  margin: 0;
  padding: 0;
  background: #1f1c18;
  background: linear-gradient(to right, #FD1D02, #1f1c18); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* General */
.alert {
  color: #FFFFFF;
  height: 10px
}

.content-center {
  margin: 0px auto;
}

.form-label {
  color: white;
}

/* Auth pages */
.loginForm {
  background: #212529ad;
  height: auto;
  border-radius: 15px;
}
.size-input-form {
  max-width: 300px !important;
}

.title-page-auth {
  margin-bottom: 30px;
}

.width-input {
  margin: 10px 10px;
}

/* Cards profil */
.card.text-light {
  border-radius: 15px;
}
