/* You can add global styles to this file, and also import other style files*/

.size-input-form {
  max-width: 300px;
}
content-center {
  margin: 0px auto;
}

.title-page-auth {
  margin-bottom: 30px;
}
