.back-profile {
  background-image: url('/assets/background2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.bloc-form {
  margin-top: 30px !important;
}

