<div class="layer">
  <div class="bloc-form">
    <h1 class="text-center title-page-auth color-title">Inscription</h1>
    <div class="size-input-form content-center loginForm">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmitForm()">

        <!-- Formcontrol firstName input-->
        <div class="mb-3 width-input">
          <label for="firstName" class="form-label">Prénom</label>
          <input type="text" class="form-control" id="firstName" placeholder="Prénom" formControlName="firstName">
          <div class="alert" *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)">
            <div *ngIf="firstName?.errors?.['required']">
              Renseignez un prénom.
            </div>
            <div *ngIf="firstName?.errors?.['minlength']">
              Prénom trop court.
            </div>
            <div *ngIf="firstName?.errors?.['pattern']">
              Prénom incorrect.
            </div>
          </div>
        </div>

        <!-- Formcontrol lastName input-->
        <div class="mb-3 width-input">
          <label for="lastName" class="form-label">Nom</label>
          <input type="text" class="form-control" id="lastName" placeholder="Nom" formControlName="lastName">
          <div class="alert" *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)">
            <div *ngIf="lastName?.errors?.['required']">
              Renseignez un nom.
            </div>
            <div *ngIf="lastName?.errors?.['minlength']">
              Nom trop court.
            </div>
            <div *ngIf="lastName?.errors?.['pattern']">
              Nom incorrect.
            </div>
          </div>
        </div>

        <!-- Formcontrol email input-->
        <div class="mb-3 width-input">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email"
            required>
          <div class="alert" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
            <div *ngIf="email?.errors?.['required']">
              Renseignez un email.
            </div>
            <div *ngIf="email?.errors?.['email']">
              Renseignez un email.
            </div>
          </div>
        </div>

        <!-- Formcontrol password input-->
        <div class="mb-3 width-input">
          <label for="password" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" id="password" placeholder="Mot de passe"
            formControlName="password">
          <div class="alert" *ngIf="password?.invalid && (password?.dirty || password?.touched)">
            <div *ngIf="password?.errors?.['required']">
              Renseignez un mot de passe.
            </div>
            <div *ngIf="password?.errors?.['minlength']">
              Mot de passe trop court.
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-danger width-input" [disabled]="!signUpForm.valid">Inscription</button>
      </form>
    </div>
  </div>
</div>
